<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
      <script>
          $(function() {
            var Origin_autosuggest  =  [
               "AGP",
            "AUH",
            "ATL",
               "PVR",
               "PEK",
               "DEN",
               "DTW",
               "HER",
               "TPA",
               "SFB",
               "MDW",
               "LOS",
               "FLL",
               "FCO",
               "MLB"
            ];
            $( "#Origin" ).autocomplete({
               source: Origin_autosuggest
            });
         });


         $(function() {
            var destination_autosuggest  =  [
               "AGP",
            "AUH",
            "ATL",
               "PVR",
               "PEK",
               "DEN",
               "DTW",
               "HER",
               "TPA",
               "SFB",
               "MDW",
               "LOS",
               "FLL",
               "FCO",
               "MLB"
            ];
            $( "#destination" ).autocomplete({
               source: destination_autosuggest
            });
         });
      </script>   