<!DOCTYPE html>
<html>
<head>
	<title>Delta Flight search</title>
	<style>
		#one
		{ border:2px solid green;
		  height: 50px;
		  margin:auto;
		  width:800px;
		}
		#two
		{ border:2px solid pink;
		  height: 500px;
		  width:800px;
		  margin:auto;
		}
	</style>
</head>
<body>
	<div id="one">
		<form>
			<input type="text" name="from" id="from" placeholder="Origin">
			<input type="text" name="Destination" id="destination" placeholder="Destination">
			<!--<input type="date" name="start date">
			<input type="date" name="to date"> -->
			<input type="button" id="flight_search" name="search" value="search">
		</form>
		
	</div>

	<div id="two">
		<table >
			<thead>
				<th>Id</th>
				<th>Flt_num</th>
				<th>Origin</th>
				<th>Destination</th>
			</thead>
			<tbody id="flightdata">
			</tbody>	
		</table>
	</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $('#flight_search').click(function () {
    	vFrom=document.getElementById('from').value
		vDestination=document.getElementById('destination').value
	    $.ajax({
	        url: "firstpage?origin="+vFrom+"&dest="+vDestination,
	        type: "GET",
	        dataType: 'json',
			contentType: 'application/json',
	        success: function (data, xhr, status) {
	        	console.log(data)
	        	
	        	var trHTML = '';
			    $.each(data, function (i, item) {
			        trHTML += '<tr><td>' + data[i].id+ '</td><td>' + data[i].flt_num + '</td><td>' + data[i].origin + '</td><td>' + data[i].destination + '</td></tr> ';
			    });
			    $('#flightdata').empty();
			    $('#flightdata').append(trHTML);
	        },
	        error: function (xhr, status) {
	            alert("Sorry, there was a problem!");
	        }
	    });
	});
</script>
</body>
</html>