<!DOCTYPE html>
<html>
<head>
	<link rel='icon' href='static/img/delta.png' type='image/x-icon'/ >
	<!-- <link rel="shortcut icon" type="static/img/ico" href="/Delta.ico"/> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>Delta Flight search</title>
	<style>
		#one
		{ height: 50px;
		  margin:auto;
		  width:800px;
		}
		#two
		{ height: 500px;
		  width:800px;
		  margin:auto;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script>
      	 $(function() {
            var Origin_autosuggest  =  [
               "AGP",
			   "AUH",
			   "ATL",
               "PVR",
               "PEK",
               "DEN",
               "DTW",
               "HER",
               "TPA",
               "SFB",
               "MDW",
               "LOS",
               "FLL",
               "FCO",
               "MLB"
            ];
            $( "#Origin" ).autocomplete({
               source: Origin_autosuggest
            });
         });


         $(function() {
            var destination_autosuggest  =  [
               "AGP",
			   "AUH",
			   "ATL",
               "PVR",
               "PEK",
               "DEN",
               "DTW",
               "HER",
               "TPA",
               "SFB",
               "MDW",
               "LOS",
               "FLL",
               "FCO",
               "MLB"
            ];
            $( "#destination" ).autocomplete({
               source: destination_autosuggest
            });
         });
      </script>	
</head>
<body>
	<div id="one">
		<h2 style="color:#11172b;"> Delta Airline</h2>
	</div>
	<div id="one">
		<form>
			<label for = "Origin"></label>
			<input type="text" name="Origin" id="Origin" placeholder="Origin">
			<label for = "destination"></label>
			<input type="text" name="Destination" id="destination" placeholder="Destination">
			<!--<input type="date" name="start date">
			<input type="date" name="to date"> -->
			<button type="button" id="flight_search" name="search" value="search" class="btn btn-primary">search</button>
			<!--
			<input type="button" id="flight_search" name="search" value="search"> -->

		</form>
		
	</div>

	<div id="one">
		<h2> Flight search result</h2>
	</div>

	<div id="two">
		<table class="table table-striped">
			<thead>
				<th>Flight No</th>
				<th>Origin Code</th>
				<th>Origin</th>
				<th>Destination Code</th>
				<th>Destination</th>
			</thead>
			<tbody id="flightdata">
			</tbody>	
		</table>
	</div>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script type="text/javascript">
    $('#flight_search').click(function () {
    	vFrom=document.getElementById('Origin').value
		vDestination=document.getElementById('destination').value
	    $.ajax({
	        url: "firstpage?origin="+vFrom+"&dest="+vDestination,
	        type: "GET",
	        dataType: 'json',
			contentType: 'application/json',
	        success: function (data, xhr, status) {
	        	console.log(data)
	        	
	        	var trHTML = '';
			    $.each(data, function (i, item) {
			        trHTML += '<tr><td>' + data[i].flt_num+ '</td><td>' + data[i].origin + '</td><td>' + data[i].origin_full_name + '</td><td>' + data[i].destination + '</td><td>' + data[i].destination_full_name + '</td></tr> ';
			    });
			    $('#flightdata').empty();
			    $('#flightdata').append(trHTML);
	        },
	        error: function (xhr, status) {
	            alert("Oops, there is a problem!! Please contact to technical team!!");
	        }
	    });
	});
</script>
</body>
</html>